{% extends 'music/base.html' %}

{% block title %}
    Darkfree
{% endblock %}
{% block body %}
    <h1>The List of Albums</h1>
    {% if all_albums %}
    <ul>
        {% for album in all_albums %}
        <li>
            <a href="{% url "music:detail" album.id %}">{{ album.album_title }}</a>
            <form action="{% url 'music:album-update' album.id %}" method="post" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
            </form>
            <form action="{% url 'music:album-delete' album.id %}" method="post" style="display: inline">
                {% csrf_token %}
                <input type="hidden" name="album_id" value="{{ album.id }}">
                <button type="submit" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </form>

        </li>
        {% endfor %}
    </ul>
    {% else %}
        <h3>You don't have any albums!</h3>
    {% endif %}
{% endblock %}


